:root {
    --amarillo: #DAA520 ;
    --bronce:#B57F08 ;
    --cafeclaro:#804F06;
    --cafe: #6B4000 ;
    --cafeobscuro:#5E3505;
    --boton:#1f5b8b;
    --botonhover:#123653;

    --negro:#000000;
    --blanco: #ffffff; 
  
  }
  .centro{
    display: block;
    margin-left: auto;
    margin-right: auto
  }
  .form-group input{
      background-color: rgb(73, 71, 71);
      color:white;
      text-align: center;
  }
  .form-group a{
    background-color: rgb(73, 71, 71);
    color:white;
}
  .form-group select{
    background-color: rgb(73, 71, 71);
    color:white;
}
 
 p{
 margin-top: 2%;
 font-size: 2.5vh;
}
  .contenedor{
    color: white;
    background-color: #000000bb;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.678), 0 1px 50px rgba(0, 0, 0, 0.705);
    border-radius: 5px;
    text-align: center;    
    padding: 20px 20px 20px 30px;
    max-width: 100vh;
    height: auto;
    margin-top: 1%;
    margin-left: 26%;
    margin-right: 25%;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;

  }

  .contenedor h2
{
  margin: 0 0 30px;
  color: white;
  text-align: center;
  letter-spacing: 5px;
  font-size: 4vh;

}
.contenedor .inputcontenedor
{
  position: relative;

}
.contenedor .inputcontenedor input
{
  
  width: 100%;
  padding: 10px 0;
  font-size: 2vh;
  color: white;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  background: transparent;
}
.contenedor .inputcontenedor label
{
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 2px;
  padding: 10px 0;
  font-size: 3vh;
  color: white;
  pointer-events: none;
  transition: .5s;
}
.contenedor .inputcontenedor input:focus ~ label,
.contenedor .inputcontenedor input:valid ~ label
{
  top: -20px;
  color: #DAA520;
  font-size: 2.3vh;
}
.contenedor input[type="submit"]
{
  transition: transform .2s; 
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  background: #DAA520 ;
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 2.5vh;

}
.contenedor input[type="submit"]:hover
{
  transform: scale(1.2);
  background:  #967011 ;

}



/* Animaciones */
.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 3.4s;
  animation-duration: 3.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@media screen and (max-width: 700px){
  .contenedor{
    margin-top: 16%;
margin-left: 15%;
margin-right: 15%;
}

.contenedor .inputcontenedor label
{
  font-size: 2.3vh;
}
.contenedor .inputcontenedor input:focus ~ label,
.contenedor .inputcontenedor input:valid ~ label
{  top: -25px;
  font-size: 2.3vh;
}

}
@media screen and (max-width: 380px){
  img{
    max-width: 100%;
    height: 20vh;
  
   }
  .contenedor{
    margin-top: 8%;
margin-left: 15%;
margin-right: 15%;
}

.contenedor .inputcontenedor label
{
  font-size: 1.9vh;
}
.contenedor .inputcontenedor input:focus ~ label,
.contenedor .inputcontenedor input:valid ~ label
{  top: -35px;

  font-size: 1.9vh;
}


}